body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.table {
  background-color: rgba(0, 0, 0, 0.7);
}
p{
  color: #ffffff;
}
div{
  color:#ffffff;
}

img{
  width:32px;
  height:32px;
}



a {
  text-decoration-line: none;
  color: #ffffff;
  padding: .4em;

}

a:hover {
  background-color: rgba(255, 0, 0, .4);
  color:#ffffff;
}

a:focus {
  background-color: rgba(255, 100, 0, .5);
  color:#ffffff;
}

input {
  border: none;
  border-bottom: 1px silver dashed;
  text-align: center;
  padding: .2em;
}

input:focus {
  outline: none;
  background-color: bisque;
}

.loading-wrapper {
  display: flex;
  height: 100%;
  font-size: 2em;
  align-items: center;
  justify-content: center;
  color: silver;
}
